@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.nav_links > li {
    display: inline;
}

.headers_font {
    font-family: 'Playfair Display', serif;
}

hr {
    animation: grow-x-axis 1.5s ease-in forwards;
    margin: auto;
    border-top: 1px solid #5e6670;
}
@keyframes grow-x-axis {
    0% {
        width: 0;
    }
    100% {
        width: 50%;
    }
}

.fade-in {
    animation: fade 0.75s ease-in forwards 1.5s;
    opacity: 0;
}

.fade-in-2 {
    animation: fade 0.75s ease-in forwards 2s;
    opacity: 0;
}

.fade-in-3 {
    animation: fade 0.75s ease-in forwards 2.5s;
    opacity: 0;
}

.fade-in-4 {
    animation: fade 0.75s ease-in forwards 3s;
    opacity: 0;
}

.fade-in-5 {
    animation: fade 0.75s ease-in forwards 3.5s;
    opacity: 0;
}

.fade-in-6 {
    animation: fade 0.75s ease-in forwards 4s;
    opacity: 0;
}

.fade-in-7 {
    animation: fade 0.75s ease-in forwards 4.5s;
    opacity: 0;
}

@keyframes fade {
    100% {
        opacity: 1;
    }
}